
  <mat-toolbar color="white">
    <mat-toolbar-row style="height:auto !important;">
      <div class="logo-area">
        <div class="logo">
          <a [routerLink]="'/wallet/overview'">
            <img src="./assets/bitgreen-logo-symbol{{testnet ? '-testnet' : ''}}.svg"
                 alt="Bitgreen">
          </a>
        </div>
      </div>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/wallet/send'"> Send </a>
        <a mat-button [routerLink]="'/wallet/receive'"> Receive </a>
        <a mat-button [routerLink]="'/wallet/history'"> History </a>
        <a mat-button [routerLink]="'/wallet/address-book'"> Address Book </a>

      </div>
    </mat-toolbar-row>

    <mat-toolbar-row style="height: 26px !important; background-color: rgba(0, 139, 21, 0.15);" >
      <span style="font-size: 12px;">
        <img class="centerSomething" src="./assets/icons/SVG/history-black.svg">
        <span class="centerSomething" > Wallet </span>
        <img class="centerSomething" src="./assets/icons/SVG/navigate_before.svg">
        <span class="centerSomething" > Transactions </span>
        <img class="centerSomething" src="./assets/icons/SVG/navigate_before.svg">
        <span class="centerSomething" > Participate </span>
      </span>
      <span style="flex: 1 1 auto;"></span>
        <!-- Sync progress -->
      <mat-content class="sync-progress cursor-pointer" (click)="syncScreen()">
        <!-- reused from syncing dialog -->
        <app-percentage-bar #progress></app-percentage-bar>
      </mat-content>

    </mat-toolbar-row>
  </mat-toolbar><!-- .sidebar -->
  <mat-divider></mat-divider>


  <!-- Page header -->
  <!-- info/warning notification -->
  <app-release-notification></app-release-notification>

  <mat-toolbar class="" fxLayout fxLayoutAlign="space-between center">

    <div class="left" fxFlex="1 1 40%">
      <div class="title">
        {{ title }}
      </div>
    </div><!-- .left -->
    <div class="right" fxFlex="1 1 60%">
      <app-status></app-status>
    </div><!-- .right -->

  </mat-toolbar><!-- .header-main -->

  <div class="margin-left-right-50">
    <router-outlet></router-outlet>
  </div>

