@import "./src/assets/_config";

.card--article {
  .card-body {
    height: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
    }
    .card-text {
      color: $text-grey;
      display: flex;
      align-items: center;
    }
  }
}
