<div class="card--article">
  <div class="row no-gutters">
    <div class="col-md-3">
      <div class="card-img ratio-4-3" style="background-image:url(assets/images/placeholder_1-1.jpg)"></div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h6 class="card-title">{{article.title}}</h6>
        <div class="card-text">
          {{article.level}}&nbsp;&nbsp;&nbsp;<mat-icon>schedule</mat-icon>&nbsp;{{article.timeStr}}
        </div>
      </div>
    </div>
  </div>
</div>
