@import "./src/assets/_config"; // import shared colors etc.
@import "./src/app/wallet/shared/_filter-sorting"; // filtering & sorting

// ------ LAYOUT ------ //

.tab-bar {
  margin-top: $header-main-height;
}

.history {
  justify-content: space-between;
  align-items: center;

  &__header {
    align-items: center;
    justify-content: space-between;
    font-family: $font;
    background: white;
    padding: 1rem 1.5rem;
    max-height: 70px;

    &--option {
      background-color: #f5f5f5;
      padding: 0.5rem 1rem;
      min-width: 8rem;
      color: black;
      border-radius: 4px;
      font-size: 0.8rem;

      &:hover {
        background-color: $color-grey;
      }
    }

    h1 {
      color: $color;
      font-weight: 300;
      font-size: 2rem;
      margin: 0;
    }
  }

  &__body {
    height: calc(100vh - 149px);
    background: white;
    padding: 0 25px;
  }

  &__graph {
  }

  &__activity {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $color-grey;
    transform: translateY(-10px);

    h3 {
      color: $text-grey;
      font-size: 1rem;
      font-weight: normal;
    }

    > h3 {
      color: black;
      text-transform: uppercase;
      font-weight: 500;
    }

    p {
      margin-bottom: 0;
    }

    &--total {
      p {
        font-size: 1.7rem;
      }
    }

    &--item {
      p {
        line-height: 3rem;
      }
    }

    &--chart {
      position: relative;
      transform: translateY(-10px);

      &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 50%;

        mat-icon {
          font-size: 2rem;
          color: $text-grey;
          height: 2rem !important;
        }
      }
    }
  }

  &__search-input {
    position: relative;
    input {
      width: 100%;
      border: 1px solid $color-grey;
      border-radius: 4px;
      outline: none;
      padding: 0.5rem 2rem 0.5rem 3rem;
      background: $bg;
    }

    mat-icon {
      position: absolute;
      font-size: 2rem;
      font-weight: normal;
      left: 7px;
      top: 7px;
      color: $text-grey;
    }
  }

  &__filter {
    margin-top: 1rem;

    &--item {
      padding: 0.4rem 1rem;
      border-radius: 25px;
      border: 1.5px solid $color-grey;
      color: $text-muted;

      &.active {
        background: $color;
        border-color: $color;
        color: white;
      }

      span {
        font-size: 0.9rem;
      }
    }

    &--connector {
      height: 1px;
      width: 1rem;
      border: 1px solid $color-grey;
    }
  }

  &__datepicker {
    position: relative;

    &--connector {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 1rem;
      transform: translate(-50%, -50%);

      &__icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid $color-grey;

        span {
          font-size: 0.8rem;
          color: $text-grey;
        }
      }

      &__arrow {
        height: 1.5rem;
        width: 1px;
        background: $color-grey;
      }

      p {
        color: $text-grey;
        font-size: 0.8rem;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.tx-list {
  overflow-y: auto;
}
