<app-header class="disable-select">
  <div fxLayout="row" class="container-fluid history__header">
    <h1>Transaction History</h1>
    <div class="history__header--option">
      Sort by
    </div>
  </div>
</app-header>

<div fxLayout="row" fxLayoutGap="30px" class="container-block history__body">
  <div class="history__graph" fxFlex="0 0 45%">
    <div class="history__search-input">
      <input
        placeholder="Enter an address/nickname, or transaction hash"
        type="text"
      />

      <mat-icon>search</mat-icon>
    </div>
    <div
      class="history__filter"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="history__filter--item active" fxLayoutAlign="center center">
        <span>Any</span>
      </div>
      <div class="history__filter--connector"></div>
      <div class="history__filter--item" fxLayoutAlign="center center">
        <span>Staking</span>
      </div>
      <div class="history__filter--item" fxLayoutAlign="center center">
        <span>Masternodes</span>
      </div>
      <div class="history__filter--item" fxLayoutAlign="center center">
        <span>Incoming</span>
      </div>
      <div class="history__filter--item" fxLayoutAlign="center center">
        <span>Outgoing</span>
      </div>
    </div>

    <div class="history__datepicker" fxLayoutAlign="space-between start">
      <app-date-picker></app-date-picker>
      <div
        class="history__datepicker--connector"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="history__datepicker--connector__arrow"></div>
        <div
          class="history__datepicker--connector__icon"
          fxLayoutAlign="center center"
        >
          <span>TO</span>
        </div>
        <div class="history__datepicker--connector__arrow"></div>
        <p>
          96<br />
          DAYS
        </p>
      </div>
      <app-date-picker></app-date-picker>
    </div>

    <div class="history__activity" fxLayoutAlign="space-between start">
      <h3>Activity</h3>
      <div class="history__activity--chart">
        <chart [options]="pieChartOptions"></chart>
        <div class="history__activity--chart__inner">
          <mat-icon aria-hidden="false">swap_vert</mat-icon>
        </div>
      </div>

      <div class="history__activity--total">
        <h3>Total</h3>
        <p>7,205</p>
      </div>
      <div class="history__activity--item">
        <h3>Incoming</h3>
        <p>5,350</p>
      </div>
      <div class="history__activity--item">
        <h3>Outgoing</h3>
        <p>1855</p>
      </div>
      <div class="history__activity--item">
        <h3>Fees</h3>
        <p>0.0005</p>
      </div>
    </div>

    <div class="history__graph">
      <chart [options]="chartOptions"></chart>
    </div>
  </div>

  <div class="tx-list section" fxFlex="1 1 100%">
    <transaction-table
      #transactions
      [display]="{
        header: false,
        internalHeader: true,
        pagination: true,
        category: true,
        expand: true
      }"
    >
    </transaction-table>
  </div>
  <!-- .tx-list -->
</div>
