<!-- <mat-progress-bar
  mode="indeterminate"
  *ngIf="!txService.txs.length && txService.loading"
></mat-progress-bar> -->
<div
  class="no-results"
  *ngIf="txService.txs.length === 0 && !txService.loading"
>
  No transactions yet
</div>

<div class="grid-row grid-header" *ngIf="display.header">
  <div class="cell-date" *ngIf="display.date">date</div>
  <div class="cell-category" *ngIf="display.category">category</div>
  <div class="cell-senderAddress" *ngIf="display.senderAddress">address</div>
  <div class="cell-txid" *ngIf="display.txid">txid</div>
  <div class="cell-blockIndex" *ngIf="display.blockIndex">blockindex</div>
  <div class="cell-confirmations" *ngIf="display.confirmations">
    confirmations
  </div>
  <div class="cell-amount" *ngIf="display.amount">amount</div>
</div>

<ng-container *ngFor="let tx of tempData">
  <mat-expansion-panel
    [ngClass]="checkExpandDetails(tx) ? 'active' : ''"
    [expanded]="checkExpandDetails(tx)"
  >
    <mat-expansion-panel-header
      fxLayout="row"
      fxLayoutGap="10px"
      (click)="showExpandedTransactionDetail(tx)"
      layout-padding
    >
      <!-- Category icon -->
      <mat-panel-title
        fxFlex="1.5rem"
        *ngIf="display.category"
        class="history_cat_icon"
        [ngSwitch]="tx.getCategory()"
      >
        <span *ngSwitchCase="'received'" class="tx-type received">
          <mat-icon aria-hidden="false">call_received</mat-icon>
        </span>
        <span *ngSwitchCase="'sent'" class="tx-type sent">
          <mat-icon>call_made</mat-icon>
        </span>
        <span *ngSwitchCase="'masternode'" class="tx-type maternode">
          <img src="/assets/icons/BITG/masternode.svg" alt="" />
        </span>
        <span *ngSwitchCase="'mined'" class="tx-type staked">
          <mat-icon fontSet="partIcon" fontIcon="part-stake"></mat-icon>
        </span>
        <span *ngSwitchCase="'masternode_reward'" class="tx-type staked">
          <mat-icon fontSet="partIcon" fontIcon="part-stake"></mat-icon>
        </span>
      </mat-panel-title>

      <!-- Address -->
      <mat-panel-title
        [fxFlex]="checkExpandDetails(tx) ? '50' : '30'"
        *ngIf="display.senderAddress"
        [ngClass]="
          checkExpandDetails(tx)
            ? 'history_longAddress expanded'
            : 'history_longAddress'
        "
        fxLayoutAlign="start center"
      >
        <span>{{
          checkExpandDetails(tx) ? tx.getAddress() : tx.getLabel()
        }}</span>
        <mat-icon *ngIf="checkExpandDetails(tx)">content_copy</mat-icon>
      </mat-panel-title>

      <!-- Date -->
      <mat-panel-title class="history_date">
        <mat-icon>access_time</mat-icon>
        <span>{{ tx.getDate() }}</span>
      </mat-panel-title>

      <!-- Amount -->
      <mat-panel-title
        fxFlex="15"
        *ngIf="display.amount"
        class="history_amount"
      >
        <span mat-line>
          <span
            class="amount"
            [ngClass]="{
              positive: tx.getAmountObject().getAmount() > 0,
              negative: tx.getAmountObject().getAmount() < 0
            }"
          >
            <span class="big number">
              {{ tx.getAmountObject().getAmount() > 0 ? "+" : "-" }}
              {{ tx.getAmountObject().getDigitsNumber(4) }}
            </span>
          </span>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div
      class="transaction-detail"
      fxLayoutWrap
      layout-padding
      fxLayout="column"
    >
      <div class="transaction-detail--clipboard">
        <img
          src="/assets/icons/BITG/arrow-subset.svg"
          style="width: 1.2rem;"
          alt=""
        />
        <img
          *ngIf="tx.getConfirmation() < 6"
          src="/assets/icons/BITG/time-pending.svg"
          alt=""
        />
        <span>{{ tx.getLabel() }}</span>
        <mat-icon style="color: #e3e6e8;">content_copy</mat-icon>
        <!-- <img src="/assets/icons/BITG/arrow-subset.svg" alt="" /> -->
      </div>

      <div
        class="transaction-detail--confirmation"
        *ngIf="tx.getConfirmation() < 6"
      >
        <div class="line-back">
          <div
            class="line-chart"
            [ngStyle]="{
              width: (tx.getConfirmation() / 6.0) * 100 + '%'
            }"
          ></div>
        </div>

        <p>{{ tx.getConfirmation() + " of 6 confirmations" }}</p>
      </div>
    </div>
    <!-- .history_cointainer -->
  </mat-expansion-panel>
</ng-container>
