@import "./src/assets/_config"; // import shared colors etc.

.mat-expansion-panel-header {
  min-height: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;

  // TX date/time
  .history_date {
    display: flex;
    align-items: center;
    color: $text-grey;
    text-transform: none !important;
    font-size: 0.9rem;

    mat-icon {
      color: $text-grey;
      margin-right: 0.5rem;
      font-weight: bold;
    }
  }

  // confirmations
  .history_confirmation {
    color: $text-muted;
    .confirmations {
      // icon
      margin-right: 3px;
      font-size: 12px;
      position: relative;
      top: 1px;
    }
    &.confirm-none {
      // unconfirmed TXs
      color: mix($color-alert, $color-warning, 100%);
    }
    &.confirm-1 {
      // 1-4 confirmations
      color: mix($color-alert, $color-warning, 66%);
    }
    &.confirm-2 {
      // 5-8 conf.
      color: mix($color-alert, $color-warning, 33%);
    }
    &.confirm-3 {
      // 9-12 conf.
      color: mix($color-alert, $color-warning, 0%);
    }
    &.confirm-ok {
      color: lighten($text-muted, 20%);
    }
  }

  // TX icon
  .history_cat_icon {
    .mat-icon {
      font-size: 14px;
      position: absolute;
      // narration icon
      &.narration {
        margin: 0 0 0 2px;
        font-size: 12px;
        color: lighten($text-muted, 20%) !important;
        padding: 3px;
        top: 1px;
      }
    }
    .tx-type {
      .name {
        font-weight: 500;
        margin-left: 26px;
      }
      &.staked {
        .mat-icon {
          color: $color-warning;
        }
      }
      &.orphan {
        .mat-icon {
          color: mix($bg-shadow, $text-muted);
        }
      }
      &.sent {
        mat-icon {
          color: $color-orange;
        }
      }
      &.received {
        mat-icon {
          color: $color;
        }
      }

      img {
        width: 2rem;
        height: auto;
      }

      mat-icon {
        font-size: 2rem;
      }
    }
  }

  // TX amount
  .history_amount {
    color: $color;
    text-align: right;
    display: block;
    margin-right: 0;

    .amount {
      font-size: 1rem;
      font-weight: bold;

      &.negative {
        color: $color-orange;
      }
    }
    .negative {
      color: $color-alert;
      .point,
      .small {
        color: mix(white, $color-alert, 30%);
      }
    }
  }

  .history_longAddress {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none !important;

    span {
      font-size: 1rem;
    }

    &.expanded {
      span {
        font-size: 0.9rem;
        color: $text-grey;
        font-weight: normal;
      }
    }

    mat-icon {
      color: $color-grey;
      margin-left: 0.3rem;
    }
  }
}

.mat-expansion-panel {
  box-shadow: none !important;
  margin-bottom: 0;
  padding: 0.5rem;
  padding-bottom: 0;

  &.active {
    border: 1px solid $color;
    border-radius: 4px;
  }
}

.transaction-detail {
  padding-left: 2rem;
  padding-bottom: 1rem;
  width: 100%;

  &--clipboard {
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0.5rem;

    span {
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0.2rem;
    }

    img {
      width: 1.5rem;
      height: auto;
      margin: 0 0.2rem;
    }

    mat-icon {
      font-size: 1.2rem;
      margin-left: 0.3rem;
      font-weight: normal;
    }
  }

  &--confirmation {
    width: 40%;
    position: relative;

    .line-chart {
      height: 4px;
      background: $color;
      border-radius: 8px;
    }

    p {
      font-size: 0.6rem;
      color: $text-grey;
      margin-bottom: 0;
    }

    .line-back {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 4px;
      border-radius: 8px;
      background: $color-grey;
    }
  }
}
