<div class="page__overview mt-3">

  <div class="row">

    <div class="col">
      <overview-balance *ngIf="walletInitialized"></overview-balance>
      <div class="title__block">RECENT TRANSACTIONS {{getBalance()}}</div>
      <transactions-tree [transactions]="recentTransactions" (onClick)="onClickTransaction()"></transactions-tree>
      <button class="btn btn-success btn-view_history">VIEW HISTORY</button>
    </div>

    <div class="col">
      <div class="title__block">COMMUNITY UPDATES</div>
      <div class="content__spot_lights">
        <div *ngFor="let spotLight of spotLights">
          <spot-light-card [title]="spotLight.title" [percent]="spotLight.percent"></spot-light-card>
        </div>
      </div>

      <div class="content__articles">
        <div *ngFor="let article of articles">
          <article-card [article]="article"></article-card>
        </div>
      </div>

      <div class="content__latest_articles">
        <div class="title__block">LATEST FROM THE TEAM</div>
        <div class="content__latest_articles__articles">
          <div *ngFor="let article of latestArticlesFromTeam">
            <article-card [article]="article"></article-card>
          </div>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="card card__participate_in_bitgreen">
        <div class="card-body">
          <h5 class="card-title">Participate in the BitGreen ecosystem today</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            There are a number of ways you can get involved and be an active member of the community.
          </h6>
          <button class="btn btn-success btn-get__involved">GET INVOLVED</button>
        </div>
      </div>

      <notice-panel icon="lock" title="security health check" headerEndText="50%" headerColor="#fff"
        headerBackgroundColor="#E85B5B" contentBackgroundColor="#FFF7F7">
        <notice-panel-item
          iconColor="#fafafa"
          icon="check"
          inCircle="true"
          circleBackgroundColor="#00a519"
          title="Set your wallet password"
          buttonTitle="done"
          buttonColor="#b5b5b5"
        >
        </notice-panel-item>
        <notice-panel-item
          iconColor="#fafafa"
          icon="close"
          inCircle="true"
          circleBackgroundColor="#b5b5b5"
          title="Backup your wallet"
          buttonTitle="backup"
          buttonColor="#00a519"
          description="You made a change on 03 March 2019"
        >
        </notice-panel-item>
      </notice-panel>

      <notice-panel icon="info" title="reminders" headerColor="#A47800" headerBackgroundColor="#F6E67F"
        contentBackgroundColor="#FFFEF7">
        <notice-panel-item
          iconColor="#b5b5b5"
          icon="get_app"
          title="Update available"
          buttonTitle="update"
          buttonColor="#00a519"
          description="An update for the BitGreen wallet was released on 03 March
                  2019. Update now for secuirty fixes, feature enhancements and performance improvements."
        >
        </notice-panel-item>
        <notice-panel-item
          iconColor="#b5b5b5"
          icon="chat_bubble"
          title="Have your say!"
          buttonTitle="update"
          buttonColor="#00a519"
          description="As a masternode owner, don't forget to submit your vote for
                  the latest budget proposal."
        >
        </notice-panel-item>
        <notice-panel-item
          iconColor="#b5b5b5"
          icon="bitg"
          title="Participate in the April airdrop"
          buttonTitle="enter"
          buttonColor="#00a519"
          description="A new airdrop has been scheduled. Enter now so you don't
                  miss out."
        >
        </notice-panel-item>
      </notice-panel>

    </div>
  </div>
</div>
