@import "./src/assets/_config"; // import shared colors etc.
@import "widgets/shared/shared.scss";

.page__overview {
  padding: 0 30px;
  .row {
    .col {
      padding-left: 7px;
      padding-right: 7px;
      .btn-view_history {
        float: right;
        font-size: 12px;
        font-weight: 300;
        padding-left: 18px;
        padding-right: 18px;
      }
      .title__block {
        font-size: 14px;
      }
      .content__spot_lights {
        display: flex;
        width: 100%;
        & > * {
          flex: 1;
        }
        & > * + * {
          margin-left: 1rem;
        }
      }
      .content__articles {
        padding: 1rem;
        & > * + * {
          margin-top: 0.75rem;
        }
      }
      .content__latest_articles {
        padding: 1rem;
        .content__latest_articles__articles {
          margin-top: 0.5rem;
          & > * + * {
            margin-top: 0.75rem;
          }
        }
      }
      .card__participate_in_bitgreen {
        border: none;
        .card-body {
          height: 100%;
          .card-title {
            font-weight: normal;
          }
          .card-subtitle {
            color: $text-grey;
            font-weight: normal;
          }
          .btn-get__involved {
            background-color: $color;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
